.input {
  position: relative;
  z-index: 100;
  width: 100%;
  margin-top: 1rem;
  padding: 0.7rem 5rem 0.7rem 1rem;
  background-image: url('../../assets/icons/search.png');
  background-repeat: no-repeat;
  border-radius: 1.25rem;
  background-position: 10px center;
  outline: none;
  padding-left: 2rem;
}
