body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1;
  background-color: #f1f1f1;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
  background: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

a,
a:visited {
  text-decoration: none;
}

p {
  width: auto;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 300px) and (max-width: 600px) {
  html {
    font-size: calc(10px + (16 - 10) * ((100vw - 360px) / (600 - 360)));
  }
}
